<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722676965381-qiguoq6em60gau7vqld6lcus8tp9o2cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722676965381-qiguoq6em60gau7vqld6lcus8tp9o2cr</string>
	<key>API_KEY</key>
	<string>AIzaSyBWczJCoqpOKFHJUCaFNaW6Lev-x0gtdWM</string>
	<key>GCM_SENDER_ID</key>
	<string>722676965381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PEPUL-TECH-PRIVATE-LIMITED.customizeNote</string>
	<key>PROJECT_ID</key>
	<string>fbaudb</string>
	<key>STORAGE_BUCKET</key>
	<string>fbaudb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722676965381:ios:88833566ab6b3542f9bc6c</string>
</dict>
</plist>